.nav{
    height: 100vh;
    padding-top: 100px;
    ul {
        list-style: none;
        
        li {
            margin: 0 auto;
            padding: 30px 0;
        }
    }
}

.btn:hover {
    cursor: pointer;
}

.icon {
    font-size: 36px;
}


