.enlistedMembers {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    z-index: 48;
    padding-top: 35px;
}

ul {
    padding: 0;
}

li {
    text-align: center;
    padding: 10px 0;
}