.right_sidebar_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 48;
    
    .right_sidebar_nav{

        padding-top: 85px;
    
        ul {
            padding: 0;

            li {
                text-align: center;
            }
        }
        margin: auto;
    }
    
    .enlistedMembers {

        ul {
            padding: 0;
        }
        text-align: center;
    }
    
}




