.right_sidebar_container {
    z-index: 48;
    margin: 0;
    position: fixed;
    right: 0;
    background-color: white;
    width: 300px;
    box-shadow: 4px 4px 14px -1px rgba(20, 0, 20, 0.2);
    overflow: hidden;
    height: 100vh;

    
}



::ng-deep .mat-tab-header-pagination-before, .mat-tab-header-rtl {
    display: none!important;
}

::ng-deep .mat-tab-header-pagination-after, .mat-tab-header-rtl {
    display: none!important;
}


.mat-tab-links {
    flex-flow: wrap;
    overflow: auto;
}

.mat-tab-header {
    display: none;
}

.whiteBoardMode {
    padding-top: 134px;
    width: 300px;
}
